.mainContainer {
  display: flex;
  width  : calc(100vw - 550px);
}

.descriptionContainer {
  width          : 300px;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  padding        : 1rem;
}

.descriptionContainer p:first-child {
  padding-bottom: 3rem;
  font-weight   : bold;
  font-size     : 1.2rem;
}

@media screen and (max-width: 1572px) {
  .mainContainer {
    flex-direction: column;
  }

  .descriptionContainer {
    height: 200px;
    width : 100%;
  }

  .descriptionContainer p:first-child {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 1400px) {
  .mainContainer {
    width: calc(100vw - 500px);
  }
}

@media screen and (max-width: 700px) {
  .descriptionContainer {
    padding: 0.5rem;
  }

  .mainContainer {
    width: 100%
  }
}