.slider-container {
  width : 100%;
  height: 100vh;
}

.slider-container div {
  height: 100vh;
}

.img-1 {
  cursor             : pointer;
  background-position: top;
  background-size    : cover;
  background-repeat  : no-repeat;
}


@media screen and (max-width: 1572px) {
  .slider-container div {
    height: calc(100vh - 200px);
  }

  .slider-container {
    height: calc(100vh - 200px);
  }
}