.mainContainer {
  display: flex;
}

.projectContainer {
  margin-left: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid darkgray;
  width: 250px;
  align-items: center;
}

.projectContainer p {
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: 3rem;
  text-align: center;
}

.projectList {
  list-style: none;
  width: 250px;
}

.projectList li {
  padding-bottom: 1rem;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  text-align: left;
  padding: 1rem 2.5rem;
}

.projectList li:hover {
  left: 10px;
}

.projectList li::before {
  content: ">>";
  position: absolute;
  left: 1rem;
  font-weight: bold;
  letter-spacing: -4px;
  display: none;
}

.projectList li:hover::before {
  display: block;
}

@media screen and (max-width: 1400px) {
  .projectContainer {
    width: 300px;
    margin-left: 200px;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 700px) {
  .projectContainer {
    margin-left: 0px;
    width: 200px;
    text-align: center;
    font-size: 0.9rem;
  }

  .projectList li::before {
    left: -1rem;
  }
}
