.navbarContainer {
  width: 300px;
  height: 100vh;
  min-width: 200px;
  padding: 0 2rem;
  border-right: 1px solid black;
  position: fixed;
  z-index: 5;
}

.personContainer {
  height: 20%;
  text-align: center;
}

.logo {
  font-weight: bold;
  font-size: 9rem;
}

.name {
  font-weight: bold;
  margin-top: -2rem;
}

.title {
  color: darkgrey;
  font-size: 0.7rem;
}

.linkContainer {
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkContainer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
  font-size: 1.5rem;
  margin-left: -2rem;
}

.linkContainer a:before {
  content: ">>";
  position: absolute;
  left: -2rem;
  font-weight: bold;
  letter-spacing: -4px;
  display: none;
}

.linkContainer a:hover {
  left: 20px;
}

.linkContainer a:hover::before {
  display: block;
}

.linkContainer li {
  padding-top: 0.3rem;
  list-style: none;
}

.open {
  display: none;
  z-index: 6;
}

@media screen and (max-width: 1400px) {
  .navbarContainer {
    width: 200px;
  }
}

@media screen and (max-width: 700px) {
  .navbarContainer {
    display: none;
    width: 100%;
    height: 100%;
    background-color: gray;
  }

  .open {
    font-size: 2rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    display: block;
  }
}
