.container {
  text-align: right;
  height: 100vh;
  width: 100%;
  margin: 0;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  background: url(../../assets/3.jpg) center no-repeat;
  filter: brightness(90%);
  background-size: cover;
  overflow: hidden;
  padding-right: 50px;
  margin-left: 300px;
}

a {
  color: inherit;
}

h1 {
  width: 100%;
  margin: 40vh 0 3vh 0;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 3em;
  transition: all 0.4s;
}

h1:hover {
  color: black;
}

h1::selection {
  color: black;
}

i {
  display: block;
  width: 100%;
  margin-bottom: 4vh;
  font-size: 1em;
}

i::selection {
  color: black;
}

.fa {
  display: inline-block;
  color: inherit;
  border: 1px solid;
  text-decoration: none;
  padding-top: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20%;
  box-sizing: border-box;
  margin-left: 1em;
  background: rgba(0, 0, 0, 0);
  transition: all 0.4s;
}

.fa:hover {
  /* color: rgb(162, 232, 255); */
  color: black;
  border-color: inherit;
  /* background: rgba(0, 0, 0, 0.5); */
}

/* .fa:nth-of-type(2):hover {
  color: #ff7cd3;
  border-color: inherit;
}

.fa:nth-of-type(3):hover {
  color: #0c6;
  border-color: inherit;
}

.fa:nth-of-type(4):hover {
  color: #e90;
  border-color: inherit;
}

.fa:nth-of-type(5):hover {
  color: rgb(0, 110, 219);
  border-color: inherit;
} */

@media screen and (max-width: 1400px) {
  .container {
    margin-left: 200px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    margin-left: 0px;
  }
}
